$block-size: 100px;
$block-fz: 14px;
$block-color: #cfcfcf;


.homePage {
  font-size: 16px;
  padding: 20px 10px;
  height: 100vh;
  color: #000;
  background-color: #282c34;
  box-sizing: border-box;
}

.imgBlock, .textBlock {
  position: relative;
  margin: 5px;
  vertical-align: top;
  display: inline-block;
  width: $block-size;
  height: $block-size;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;


  &:hover {
    &::after {
      display: block;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.imgBlock {
  background-size: cover;
  background-position: center center;
}

.textBlock {
  font-size: $block-fz;
  text-align: center;
  color: $block-color;
  background-color: rgba(255, 255, 255, 0.2);

}


.textBlock_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  user-select: none;
  & > span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}